/* ナビゲーション */
.navbar-brand span {
  color: #0093cb;
}
/* ヘッダーイメージ */
.headerBackimg {
  background-image: url("../img/background/bimg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .headerBackimg {
    height: 60vh;
  }
}
.portfolio-title {
  text-align: center;
  font-size: 1.2em;
}
/* Works */
.page-section-info {
  font-size: 14px;
  color: #7f7f7f;
  margin-bottom: 25px;
}
/* Worksモーダル */
.modal-img {
  width: 250px;
}
.modal-info {

}
.lists {

}
.list {
  list-style: none;
  display: flex;
  border-bottom: solid #ccc 1px;
  margin-top: 12px;
}
.title {
  display: block;
  width: 150px;
  text-align: left;
}
.content-link {
  text-align: left;
  max-width: 500px;
  display: block;
  color: #007ebe;
}
.content-link:hover {
  opacity: 0.8;
  color: #007ebe;
}
.content {
  text-align: left;
  max-width: 500px;
  display: block;
}
.content-img {
  height: 40px;
  margin: 5px;
}
/* プロフィール */
.profileTitle {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.profileText {
  font-size: 1em;
  line-height: 2em;
}
.portfolioImgLists {
  list-style: none;
  display: flex;
}
.portfolioImgLists li {

}
.portfolioImg {
  height: 80px;
  margin: 5px;
}
.mail-address {
  font-size: 20px;
  border-bottom: solid #0093cb 3px;
}
/* フッター */
.footer {
  background-image: url("../img/background/bimg1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
